body
{
  background: rgb(141,230,244);
}

canvas
{
  position: absolute;
  top: 0px;
  left: 0px;
}

#canvasB{z-index: 1;}
#canvasL{z-index: 2;}

#main
{
  position: absolute;
  width: 1600px;
  height: 960px;
  top: 25px;
  left: 50%;
  margin-left: -800px;
}
