body::-webkit-scrollbar
{
  display: none;
}



body
{
 font-family: 'Quattrocento Sans', sans-serif;
 background-color: #32292f;
 color: #0caea9;
 overflow-x: hidden;
}

body a:link, a:visited, a:hover, a:active
{
    color: #99e1d9;
    text-decoration: none;
}
