/* MAIN CSS - GRIMBLOG  kolkurtz 2021 */

body
{
    background: #000000;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}


/**restyle garish links**/
:link, :visited
{
    color: rgb(10,162,228);
    text-decoration: none;
}

.overElim
{
    position: relative;
    overflow: hidden;
}


.major
{
    padding: 6px;
    width: 100%;
    background: #555555;
}

#header, #footer
{
    height: 20px;
}

#header
{
    font-family: 'Stick', sans-serif;
}

.banner
{
    text-align: center;
    height: 150px;
    background: url(banner.jpg) no-repeat center center, radial-gradient(circle, rgba(0,36,4,1) 0%, rgba(9,121,16,1) 70%, rgba(76,152,90,1) 100%) repeat scroll 0% 0%;
}

.tagline
{
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

#main
{
    background: #000000;
    padding-bottom: 23px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


#footer
{
    position: fixed;
    bottom: 0px;
}

#footer div
{
    display: inline-block;
}

#tools
{
    color:#BBBBBB;
}

.tool
{
    width: auto;
    padding-right: 12px;
    text-align: center;
    cursor: pointer;
    color: rgb(10,162,228);
}

.righty
{
    position: absolute;
    right: 30px;
}

/**POSTS**/
.post
{
    position: relative;
    border: solid 2px #555555;
    background-color: #222222;
    border-radius: 9px;
    width: 350px;
    min-height: 300px;
    margin: 30px 30px 30px 30px;
}

.pTitle, .pBody, .pMeta
{
    background: #555555;
    border-radius: 3px;
    margin: 3px;
    line-height: 20px;
    padding-left: 3px;
}


.pTitle, .pMeta
{
    height: 20px;
    text-align: left;
}

.pBody
{
    min-height: 260px;
    padding: 6px;
    text-align: center;
    margin-bottom: 26px;
}

.pBody img
{
    border-radius: 6px;
    image-rendering: auto;
    max-width: 100%;
}

.pBody p
{
    margin-bottom: 9px;
    text-align: left;
}

.pMeta
{
    position: absolute;
    width: auto;
    padding: 0px 3px 0px 3px;
    bottom: 0px;
    font-size: 0.8rem;
    cursor: pointer;
}

.aList
{
    height: 75px;
    background-image: url('images/file.png');
    background-repeat: no-repeat;
    background-position: center;
}

/**MODAL**/

.modal
{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background:#666666;
    z-index:9999;
}

.modal .close 
{
    position: absolute;
    top: 25px;
    right: 65px;
    z-index: 999;
    cursor: pointer;
  }

#imageFrame
{
    width: 100%;
}


@media only screen and (max-width: 600px) {
    body 
    {
      background-color: lightblue;
    }

    #footer
    {
        font-size: 0.7rem;
        position: fixed;
        line-height: 20px;
        bottom: 0px;
    }
}