body
{
	background: #32292f;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	color: white;
}

#cont
{
	margin-left: auto;
	margin-right: auto;
	width:	400px;
}

.main
{
	width: 400px;
	height: 250px;
	margin-top: 25px;
	font-size: 1.5rem;
	color: #99e1d9;
	text-align: center;
}

.wide
{
	font-size: 8rem;
	line-height: 200px;
	margin: 20px 20px 20px 100px;
	width: 200px;
	min-height: 200px;
	background: #705d56;
	border: solid 1px black;
	border-radius: 15px;
	color: #9caea9;
	text-align: center;
}
