body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    background: black;
    color: limegreen;
}

#mainTitle
{
    font-size: 2rem;
    background: black;
    color: limegreen;
}

.cont
{
    font-size: 1rem;
    background: black;
    color: limegreen;
}

.subH
{
    font-size: 1.5rem;
    background: black;
    color: limegreen;
    margin: 0px 0px 20px 0px;
}


.lump
{
    margin: 0px 0px 20px 20px;
}


/* attacker */

.unit
{
    font-size: 0.8rem;
    background-color: olivedrab;
    color: black;
    height: 40px;
    width: 80px;
    text-align: center;
    line-height: 40px;
    border: solid 1px beige;
}


/* ations */

.actBtn
{
    font-size: 0.8rem;
    background-color: orangered;
    color: black;
    height: 40px;
    width: 80px;
    text-align: center;
    line-height: 40px;
    border: solid 1px beige;
    margin: 0px 0px 20px 20px;
    cursor: pointer;
}


/* results */
#resCont
{
    min-width: 600px;
}

#resCont div
{
    font-size: 0.75rem;
}

#hit, #wound, #save, #damage, #outcome
{
    display: flex;
    flex-wrap: nowrap;
}

#hit div, #wound div, #save div, #damage div, #outcome div
{
    width: 60px;
    color: black;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: solid 1px beige;
}

#hit div
{
    background-color: burlywood;
}

#wound div
{
    background-color: orange;
}

#save div
{
    background-color: skyblue;
}

#damage div
{
    background-color: palegreen;
}

#outcome div
{
    background-color: olivedrab;
}

#resultText
{
    margin-top: 20px;
}



/*UI STUFF*/

form 
{
    width: 90px;
    padding-left: 5px;
    margin-top: 20px;
}
  
.value-button 
{
    display: inline-block;
    color: black;
    border: 1px solid #ddd;
    margin: 0px;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 8px 0;
    background: olivedrab;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 5px 0 0 5px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 5px 5px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#numberAtk {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 20px;
    height: 20px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }