/* - cDes -*/
@font-face{font-family:"Iconyu";src:url("kolkurtz.ttf") format('truetype'),url('Iconyu.eot?#iefix') format('embedded-opentype')}


body
{
  font-family:"Iconyu",Geneva,sans-serif;
  font-size:2rem;
  background: #32292f;
  overflow: hidden;
}

#fBoard
{
  box-sizing: border-box;
  background: #705d56;
  width: 100%;
  height: 640px;
  margin-top: 50px;
  padding-top: 20px;
}

#backF
{
  width: 100%;
  background: #afac81 url(nut.png) no-repeat center left;
  height: 600px;
}

.containy
{
  width: 100%;
  margin-left: 25px;
  height: 100px;
}

.fretBlock
{
  box-sizing: border-box;
  height: 100px;
  float: left;
  line-height: 120px;
  border-right: solid 3px black;
  font-size: 3rem;
  text-align: center;
  color: #777777;
  background: #afac81 url(string.png) repeat center;
}

#control
{
  box-sizing: border-box;
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 700px;
  left: 50%;
  margin-left: -100px;
  padding: 10px;
  background: #705d56;
}

body a:link, a:visited, a:hover, a:active
{
    color: #99e1d9;
}
