body
{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:1.5rem;
  background: #32292f;
  overflow: hidden;
}

#fBoard
{
  box-sizing: border-box;
  background: #705d56;
  width: 100%;
  height: 280px;
  margin-top: 50px;
  padding-top: 20px;
}

#backF
{
  width: 100%;
  background: #afac81 url(nut.png) no-repeat center left;
  height: 240px;
}

.containy
{
  width: 100%;
  margin-left: 10px;
  height: 40px;
}

.fretBlock
{
  box-sizing: border-box;
  height: 40px;
  float: left;
  line-height: 40px;
  border-right: solid 3px black;
  font-size: 1rem;
  text-align: center;
  color: #777777;
  background: #afac81 url(string.png) repeat center;
}

#control
{
  box-sizing: border-box;
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 350px;
  left: 50%;
  margin-left: -100px;
  padding: 10px;
  background: #705d56;
}

#permcont
{
  box-sizing: border-box;
  position: absolute;
  width: 400px;
  height: 40px;
  bottom: 0px;
  right: 0px;
  margin-right: 20px;
  padding: 10px;
  background: #705d56;
}

body a:link, a:visited, a:hover, a:active
{
    color: #99e1d9;
}
