body{background: #101015;color:white;}

.level1
{
    box-sizing: border-box;
    border: 5px solid var(--bordercol);
    position: absolute;
}

#tops
{
    top: 10px;
}

#mids
{
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

#incList
{
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
    width: 20%;
}

#incDetail
{
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
    width: 80%;
}


#bots
{
    bottom: 10px;
}


.flex-item {
    background: var(--box);
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }