/* kolkurtz - autogallery - 23-03-15*/

#switcherz
{
	height: 5%;
	background: #BCBCBC url("../Image/galCue.png") center no-repeat;
}

.switcher
{
	position: absolute;
	height: 39px;
	width: 10px;
	z-index: 1;
	background: rgba(255,255,255,0) url("../Image/pin.png") no-repeat;
	cursor: pointer;
}

#picturez
{
	height: 95%;
	background: #FFFFFF;
}

.galPic
{
	position: absolute;
	height: 95%;
	width: 100%;
	z-index: 2;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}