body
{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:1rem;
  background: #32292f;
  min-height: 1200px;
  overflow: hidden;
}

#tit
{

}

#cright
{
  position: fixed;
  font-size: 0.8rem;
  width: auto;
  height: 15px;
  bottom: 0px;
  right: 10px;
  margin-left: 2px;
  colour: black;
}


#inst
{
  margin: 10px 0 5px 0;
  line-height: 20px;
}

#fBoard
{
  box-sizing: border-box;
  background: #705d56;
  width: 100%;
  height: 280px;
  margin-top: 50px;
  padding-top: 20px;
}

#backF
{
  width: 100%;
  background: #afac81 url(nut.png) no-repeat center left;
  height: 240px;
}

.containy
{
  width: 100%;
  margin-left: 10px;
  height: 40px;
}

.fretBlock
{
  box-sizing: border-box;
  height: 40px;
  float: left;
  line-height: 40px;
  border-right: solid 3px black;
  font-size: 1rem;
  text-align: center;
  color: #777777;
  background: #afac81 url(string.png) repeat center;
}

.stave
{
  position: absolute;
  box-sizing: border-box;
  margin: 5px 0px 0px 5px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  background: #705d56;
}

.noteHead
{
  position: absolute;
  width: 25px;
  height: 25px;
}

.subBox
{
  box-sizing: border-box;
  padding: 10px;
  background: #705d56;
  color: #f0f7f4;
  font-size: 1rem;
}


#control
{
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 350px;
  left: 50%;
  margin-left: -100px;
}

#control ul li
{
  margin: 5px 0 5px 0;
}

#analysis
{
  display: none;
  position: absolute;
  width: 600px;
  border-radius: 10px;
  margin: 210px 0px 0px 5px;
}

#analysis li
{
  margin: 10px 0 10px 0;
}

.hlght
{
  color: black;
  margin-right: 5px;
}

.hlght2
{
  color: rgb(150,180,150);
  margin-right: 5px;
}


#permcont
{
  box-sizing: border-box;
  position: absolute;
  width: 300px;
  height: 33px;
  right: 0px;
  margin-top: 5px;
  border-radius: 10px;
  padding: 10px;
  background: #705d56;
}

body a:link, a:visited, a:hover, a:active
{
    color: #99e1d9;
}
